<div class="modal"  id="editModal_feature" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Feature</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id ="formUpdateFeature" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <input type="hidden" class="featureCategoryId"/>
              <label for="category">Feature</label>
              <select class="form-control" name="featureCategoryId">
                  <option class="default_categoryId"> Select category </option>
                  <% featureCategories.forEach(category => { %>
                      <option value="<%= category._id %>"> <%= category.name %> </option>
                  <% })%>
              </select>
                <div class="form-group">
                    <label for="qty">Quantity</label>
                    <input type="text" name="qty" class="form-control qty" id="quantity" placeholder="quantity" aria-describedby="quantity" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        </div>
    </div>
  </div>
  